button{
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #8C8B8C;
}

.boton-clic{
  background-color: #7E070D;
}

.boton-reiniciar{
  background-color: #0A0200;
}